<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email Assistant</title>
    <link rel="stylesheet" href="../static/css/styles.css">

</head>

<body>
    <header class="header">
        <div class="logo">
          <img src="../../logo.png" alt="Logo" />
        </div>
        <nav class="nav">
          <a href="#">Generate Images</a>
          <a href="#">Image Variations</a>
          <a href="#">Generate Videos</a>
          <a href="#">E-mail Replier</a>
          <button class="btn-signin">Sign in</button>
        </nav>
      </header>
    
    
    
</body>
</html>

